@model IEnumerable<OnlineAppointment.Models.Appointment>

@{
    ViewBag.Title = "Approved";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}
<br />
<br />
<h2>Approved Appointments</h2>

<p>
    @Html.ActionLink("Set New Appointment", "Create")
</p>
<table id="example" class="table table-striped table-bordered">
    <thead>
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.AppointmentState.AppointmentStatus)
                </th>*@
            <th>
                Date
            </th>
            <th>
               Time
            </th>
            <th>
               Service
            </th>

            @*<th>
                    @Html.DisplayNameFor(model => model.User.Username)
                </th>*@

            @*<th>
                    @Html.DisplayNameFor(model => model.Reason)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.AppointmentState.AppointmentStatus)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Slot.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>

                @*<td>
                        @Html.DisplayFor(modelItem => item.User.Username)
                    </td>*@

                @*<td>
                        @Html.DisplayFor(modelItem => item.Reason)
                    </td>*@
            <td>
                @Html.ActionLink("Reschedule", "Edit", new { id = item.AppointmentId }) |
                @*@Html.ActionLink("Details", "Details", new { id=item.AppointmentId }) |*@
                @Html.ActionLink("Cancel Appointment", "CancelApproved", new { id = item.AppointmentId },
    new { onclick = "return confirm('Do you really want to Cancel this Appointment?  ')" })
            </td>
            </tr>
        }

    </tbody>

</table>
