@model OnlineAppointment.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiscountType.DiscountTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountType.DiscountTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentType.PaymentTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentType.PaymentTypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountedTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountedTotal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
