@model IEnumerable<OnlineAppointment.Models.AppointmentDetail>

@{
    ViewBag.Title = "Index";
}
<br />

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Product and Services Availed</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-bordered col-md-12" id="example" align="center">
            <thead>
                <tr>
                    <th>
                        Product/Service
                    </th>
                    <th>
                        Quantity
                    </th>
                    <th>
                        Item Discount(%)
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Total
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Discount)%
                        </td>
                        <td>
                            ₱   @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            ₱   @Html.DisplayFor(modelItem => item.Total)
                        </td>
                        <td>
                            <a href="@Url.Action("Remove", "AppointmentDetails", new { id = item.Id })" class="btn btn-xs btn-danger" title="Remove"><span class="fa fa-trash"></span> Remove</a>
                        </td>
                    </tr>
                }
            </tbody>
            <thead>
            <th>
                Total
            </th>



            <th>
                @Model.Sum(i => i.Quantity)
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
                ₱ @Model.Sum(i => i.Total)
            </th>
            <th>
                <a href="@Url.Action("Remove", "AppointmentDetails")" class="btn btn-xs btn-success" title="Remove"><span class="fa fa-money"></span> Settle</a>
                <a href="@Url.Action("Remove", "AppointmentDetails")" class="btn btn-xs btn-warning" title="Remove"><span class="fa fa-times"></span> Cancel</a>
            </th>
            </thead>
        </table>
    </div>
    <div class="panel-footer">
        <a href="@Url.Action("Create", "AppointmentDetails", new { id = Session["AppointmentId"]})" class="btn btn-sm btn-success" title="Add Product/Service"><span class="fa fa-plus"></span> Add Product/Service</a>
        <a href="@Url.Action("Index", "Appointments")" class="btn btn-sm btn-warning" title="Back"><span class="fa fa-backward"></span> Back</a>
    </div>
</div>